@inject HttpClient http;
@inject IRepositorio https;
@using Blazored.LocalStorage;
@using BuscaPerro.Domain.Enfermedad.DTO
@using BuscaPerro.Domain.Vacunacion.DTO
@inject Blazored.LocalStorage.ILocalStorageService localStore
@inject NavigationManager navigationManager



@code {
    protected override async void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            var ID_cuenta_string = await localStore.GetItemAsStringAsync("ID_USER");
            if (ID_cuenta_string == null || ID_cuenta_string == "")
            {
                navigationManager.NavigateTo("/");
            }
            StateHasChanged();
        }
    }
   

    public RegisterPetsDTO valor = new();
    public List<HistoricoEnfermedadDTO> DatosMascotaList = new();

    public async Task IndexFuntion()
    {
        var Dato = await localStore.GetItemAsStringAsync("ID_USER");
        var result = await https.Get<List<HistoricoEnfermedadDTO>>($"https://buscaperroapi.azurewebsites.net/api/Enfermedad/ListarEnfermedadesMascotaPorCuenta?idCuenta={Dato}");
        DatosMascotaList = result.Response;
    }
    

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await IndexFuntion();
            StateHasChanged();
        }
    }

    }
    <div>

     <EditForm Model="valor" >

        <table class="table table-bordered" >
  <thead>
      <th colspan="7" style="text-align:center;font-size:21px">Lista Enfermedades</th>
    <tr>
      <th scope="col">Nombre Mascota</th>
      <th scope="col">Nombre Enfermedad</th>
      <th scope="col">Fecha Tratada</th>
      <th scope="col">Tratamiento aplicado</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in DatosMascotaList)
    {
        <tr>
            <td>@item.nombre_mascota</td>
            <td>@item.nombre_enfermedad</td>
            <td>@item.fecha.ToString("dd MMM yyyy")</td>
            <td>@item.tratamiento_aplicado</td>
        </tr>
    }
  </tbody>
</table>

      
   </EditForm>
</div>

